@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');
              

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* GLOBAL STYLES */

:root{
    --primary-theme-color: rgba(230, 83, 60, 1);
}

.inter-regular{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.miama-regular{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 10rem;
    font-optical-sizing: auto;
    font-style: normal;
}
                                                
.container{
    width: 75%;
    max-width: 1060px;
    margin: auto;
}

.btn-primary{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem 2.5rem;
    border-radius: 2.6rem;
    border: none;
    color: white;
    background-color: var(--primary-theme-color);
    cursor: pointer;
}

.btn-secondary{
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
}

img{
    width: 100%;
}

/* .btn-primary:hover{
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    margin: 0 0.9rem 0 0;
}

.btn-secondary:hover{
    background-color: var(--primary-theme-color);
    border: none;
    margin: 0.8px;
} */

/* .space{
    padding: 1rem 0;
} */


/* HEADER SECTION */


.header{

    background: rgb(17,17,17);
    background: linear-gradient(rgba(17,17,17,1) 0%, rgb(30, 30, 30) 50%, rgba(17,17,17,1) 100%);

}

/* header nav */
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 0 1.8rem 0;
}

.logo{
    color: var(--primary-theme-color);
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}

.menu-icon{
    display: none;
    color: #ffffff;
}

nav ul{
    list-style: none;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.4rem;
    padding: 0.7rem 0.2rem;
    justify-content: space-between;
}
/* nav ul li{

} */

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.5rem 1.2rem;
    border-radius: 2.8rem;
    margin: 0 0.5rem;
    transition: all 0.3s ease-in;
}

a.active{
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: var(--primary-theme-color);
}

nav ul li:first-child a{
    margin: 0 0.5rem 0 0;
}
nav ul li:last-child a{
    margin: 0 0 0 0.5rem;
}
nav ul li a:hover {
    background-color: var(--primary-theme-color);
    color: rgb(255, 255, 255);
}

/* header banner */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    color: white;
    width: 50%;
}

#banner-title{
    color: white;
    font-size: 4.8rem;
    font-weight: 900;
}

.shape{
    display: inline-block;
    height: 0;
    margin-top: -5rem;
    margin-right: 1rem;
}


#banner-description{
    padding: 1.7rem 0 1.7rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.btn{
    margin: 0 1rem 2rem 0;
}

.btn-one{
    margin: 0 0 2rem 0;
}

.banner-pic{
    position: relative;
    display: flex;
    align-self: flex-end;
}

.banner img{
    width: fit-content;
    align-self: flex-end;
}

.circle-img{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--primary-theme-color);
    border-radius: 50%;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn{
    display: none;
}

.banner-box{
    position: absolute;
    color: white;
    background: rgba(48, 48, 48, 0.54);
    padding: 1.25rem 1.4rem;
    border-radius: 0.8rem;
    backdrop-filter: blur(0.5rem);
}

.banner-box1{
    top: 26rem;
    left: -7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-box2{
    top: 7.5rem;
    right: -3rem;
    padding: 1rem 1.7rem;
}
.banner-box h3{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0.3rem;
}

.banner-box p{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

.box-content h3{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.box-content p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}


/* MAIN SECTION */

main{

    background-color: black;
    color: #ffffff;
}

/* Change Your Habits Section */

.habit{
    text-align: center;
    padding: 6rem 0;
}
.habit-title{
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.habit-description{
    font-size: 0.87rem;
    margin: 0 auto 4rem auto;
    color: rgba(255, 255, 255, 0.5);
    width: 60%;

}

.circle-cards{
    display: flex;
}

.circle-cards .card{
    width: 50%;
}

.circle-cards .card img{
    width: 71%;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

.circle-cards .card h3{
    margin: 1rem 0;
}

.circle-cards .card p{
    width: 80%;
    margin: auto;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
}




/* Run Section */

.run{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.2rem;
    background-color: rgba(34, 34, 34, 1.00);
    border-radius: 1rem;
}

.run-content{
    padding-left: 1rem;
}

.run-title{
    font-size: 3rem;
    font-weight: 900;
    margin: 0 0 2rem 0;
}

.run-description{
    width: 70%;
    font-size: 0.88rem;
    margin: 0 0 2rem 0;
    color: rgba(255, 255, 255, 0.50);
    line-height: 1.5rem;
    letter-spacing: 0.3px;
}

.run-content button{
    padding: 1rem 4.5rem;;
}

.run img{

    width: 28rem;
    height: 25rem;
    object-fit: none;
    object-position: 69% 30%;
    border-radius: 1.12rem;
    zoom: 80%;
}



/* BMI Section */

.bmi{
    width: 60%;
    text-align: left;
    padding: 5rem 0;
    margin: auto;
}

.bmi h1{
    font-size: 3rem;
    font-weight: 900;
    margin: 0 0 1rem 0;
}

.bmi p{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-content{

background-color: rgba(34, 34, 34, 1.00);

}


.bmi-content > div{

    display: flex;
    justify-content: space-between;
    align-items: baseline;

}



.bmi-chart h2{
    font-size: 1.75rem;
    font-weight: 900;
    margin: 3.12rem auto ;
}

.bmi-chart table, th, td{
   text-align: left;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-collapse: collapse;
   text-wrap: nowrap;
}

.bmi-chart th, td{
    padding: 0.8rem 1.13rem;
 }

 .bmi-chart th{
    font-weight: 500;
 }

 .bmi-chart td{
    color: rgba(255, 255, 255, 0.5);
 }




.bmi-calculator-form{
    width: 54%;
   
}


.bmi-calculator-form h2{
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 0.87rem;
}


.bmi-calculator-form p{ 
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.50);
    margin-bottom: 2.12rem;
}

select{
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="%23999999"><path d="M480-344 240-584l43-43 197 197 197-197 43 43-240 240Z"/></svg>') no-repeat 95%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
    background-size: 1.7rem 1.7rem;
    background-position: calc(100% - 0.75rem) center;
	appearance: none;
}

select:required:invalid {
    color: rgba(255, 255, 255, 0.60);
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input, select {
    background-color: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.60);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    width: 46%;
    margin: 0.3rem;
    font-size: 1rem;
}


input::placeholder{
    color: rgba(255, 255, 255, 0.60);
}

#activity{
    width: 94.5%;
    margin-bottom: 2.12rem;
}


.cal-btn{
    width: auto;
    padding: 1rem 4.2rem;
    margin-bottom: 3.25rem;
}


.team-content{
    padding: 5.5rem 0 ;
}

.team-title{
    text-align: center;
}

.team-title h2{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0.87rem;
}

.team-title p{
    font-size: 0.87rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.50);
    width: 60%;
    margin: 0 auto 3.62rem auto;
}


.team-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1.12rem;
}

.team-info > div{
    position: relative;
    height: 17rem;
}

.team-info img{
    min-width: 20.37rem;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
    border-radius: 1.12rem;
}

.team-nameplate{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.team-nameplate h2{
    font-size: 1.25rem;
    font-weight: 900;

}
.team-nameplate p{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.50);
}


















/* RESPONSIVE DESIGN */



/* Small below 576px */

@media screen and (max-width:576px) {

    .container{
        width: 90%;
    }

    .header{
        overflow: hidden;
        max-height: 150rem;
    }
    .banner{
        flex-direction: column;
    }

    .banner-content{
        width: 100%;
    }
    .menu-icon{
        display: block;
        font-size: 1.5rem;
    }

    .header-nav ul{
        display: none;
    }

    #banner-title{
        font-size: 2.25rem;
    }

    .shape{
        font-size: 4.5rem;
        margin-right: 0.5rem;
    }

    #banner-description{
        width: 75%;
        line-height: 1.5rem;
        letter-spacing: 0.5px;
    }


    .btn-secondary{
        background-color: transparent;
    }
    .banner-content{
        flex-wrap: nowrap;
    }

    #club{
        display: none;
    }

    .btn-one{
        padding: 1rem 1.2rem;
    }
    .btn{
        margin-bottom: 3rem;
    }

    .banner{
        height: 132vh;
    }

    .banner-pic{
        align-self: center;
    }

    .banner-box{
        padding: 1rem 1.2rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .banner-box1{
        top: 15rem;
        left: 0rem;
    }

    .banner-box1 p{
        font-size: 0.8rem;
    }

    .banner-box2{
        top: 3rem;
        right: 0rem;
        padding: 0.6rem 1.2rem;
    }

    .banner-box2 h3{
        font-size: 2rem;
    }

    .banner-box2 p{
        font-size: 0.7rem;
    }

    .play-btn{
        display: block;
        font-size: 1.2rem;
    }



    .habit{
        padding: 0 0 1.7rem;
    }

    .habit-title{
        font-size: 2rem;
        font-weight: 900;
    }

    .habit-description{
        width: 80%;
        line-height: 1.5rem;
        letter-spacing: 0.3px;
        margin: 0 auto 3.6rem;
    }

    .circle-cards{
        flex-direction: column;
        align-items: center;
    }

    .circle-cards .card{
        width: 65%;
        /* padding-bottom: 2.5rem; */
        margin: 1.7rem;
    }

    .circle-cards .card h3{
        font-weight: 600;
        font-size: 1.1rem;
    }


    .run{
        flex-direction: column;
    }

    .run-content{
        padding: 0;
    }

    .run-title{
        font-size: 2rem;

    }

    .run-description{
        width: 95%;
    }

    .run-btn{
        width: 100%;
        margin-bottom: 1.9rem;
    }

    .run img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-view-box: inset(0% 9% 32% 19%);
        zoom: normal;
    }


    

    .bmi{
        width: auto;
        padding: 2rem 0;
    }

    .bmi h1{
        font-size: 2rem;
    }

    .bmi p{
        width: 90%;
        line-height: 1.5rem;
        letter-spacing: 0.3px;
    }


    .bmi-content > div{
        flex-direction: column;
    }

    .bmi-chart{
        padding-bottom: 2.62rem;
    }

    .bmi-chart h2{
        font-size: 1rem;
        margin: 2.125rem auto 1.5rem;
    }

    .bmi-calculator-form{
        width: auto;
    }

    .bmi-calculator-form h2{
        font-size: 1rem;
    }

    .bmi-calculator-form p{
        width: 90%;
        line-height: 1.5rem;
        letter-spacing: 0.3px;
    }

    #activity{
        width: 96%;
    }

    

}






/* Large above 993px and below 1250px */

@media screen and (min-width: 1040px) and (max-width:1340px) {
    .container{
        width: 90%;
    }
}

@media screen and (min-width: 993px) and (max-width:1040px) {
    .container{
        width: 95%;
    }

    .banner-box2{
        right: -1rem;
    }

    #banner-title{
        font-size: 4.4rem;
    }
}







/* Medium above 576px and below 993px */

